body {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    background: white;
}

#footer {
    color: gray;
    text-align: center;
    padding: 10px;
    min-height: 200px;
    margin-top: 30px;
}

#container {
    min-height: 600px;
}

.avatar {
    display: inline-block;
    width: 300px;
    height: 300px;
    border: 2px solid #AAA;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.avatar-centered {
    display: block;
    margin: 10px auto;
}

.avatar-sm {
    width: 35px;
    height: 35px;
    border: 2px solid white;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
}

.userAvatar .handle {
    text-transform: uppercase;
    text-align: right;
}

.score {
    margin-right: 4px;
}

.map {
    min-height: 250px;
    margin: 10px 0;
}

/* Text styles */

.gray {
    color: #CCC;
}

.black-transp {
    color: rgba(0,0,0,0.5);
}

a.black-transp:hover {
    color: black;
}

.red {
    color: #94081A;
}

a.red:hover {
    color: red;
}

.editable {
    cursor: pointer;
}

.editable:hover {
    opacity: 0.7;
}

.center-upper {
    text-align: center;
    text-transform: uppercase;
    color: gray;
    font-size: 11px;
}

/* Major Layout */

#container {

}

.vpad {
    margin: 10px 0;
}

.app-content {
    background: white;
}

.siteHeader {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.userSection {
    margin-top: 15px;
    text-align: right;
}

.siteHeader .siteTitle {
    color: gray;
    text-align: left;
    text-transform: uppercase;
    font-size: 1.2em;
    margin: 0 0 3px 0;
    text-shadow: none;
    font-weight: 100;
}

.siteHeader a {
    text-decoration: none;
}

.siteHeader a:hover {
    color: black;
}

.siteHeader h2 {
    font-size: 0.8em;
    color: rgba(0,0,0,0.5);
    font-weight: 0.8em;
    text-shadow: none;
    margin: 0;
}

/* Main */

.loadStatuses {
    direction: block;
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 10px;
    background: rgba(0,0,0,0.2);
}

.btn.btn-voter {
    background-color: #F1F1F1;
    border: none;
    margin-bottom: 1px;
    font-size: 10px;
}

/* Decision */

/* Proposal */

.proposal {
    margin: 10px 0px;
    padding: 15px;
}

.proposal-top {
    font-size: 1.4em;
}

.proposal-negative {
    opacity: 0.65;
}

ul.factors {
    list-style-type: square;
    padding-left: 0px;
}

ul.resources {
    list-style-type: square;
    padding-left: 0px;
    font-size: 12px;
    list-style-type: none;
}

.settings {
    font-size: 0.7em;
}

.bootbox.modal > .modal-dialog {
  z-index: 1101 !important;
}

/* Bar Scale */

.barScale {
    text-align: center;
}

.barScale .bars {
    display: block;
    margin: 2px auto;
    position: relative;
}

.barScale .bars .bar {
    display: inline-block;
    position: absolute;
    background: #DDD;
    bottom: 0px;
    cursor: pointer;
}

.barScale .bar.average {
    display: inline-block;
    background: #F4DFA0;
}

.barScale .bar.user {
    display: inline-block;
    background: #F3B05E;
    font-weight: bold;
}

.barScale .bar:hover {
    display: inline-block;
    background: #FD8D08;
}

.barScale .text {
    font-size: 10px;
}

.barScale .text .user {
    color: #F3B05E;
}

.barScale .text .average {
    color: gray;
}
