body {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    background: white;
}

#footer {
    color: gray;
    text-align: center;
    padding: 10px;
    min-height: 200px;
    margin-top: 30px;
}

#container {
    min-height: 600px;
}

.avatar {
    display: inline-block;
    width: 300px;
    height: 300px;
    border: 2px solid #AAA;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.avatar-centered {
    display: block;
    margin: 10px auto;
}

.avatar-sm {
    width: 35px;
    height: 35px;
    border: 2px solid white;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
}

.userAvatar {
    margin-top: 2px;
}

.userAvatar .handle {
    display: block;
    text-transform: uppercase;
    text-align: right;
    margin-top: 4px;
}

.userAvatar .location {
    display: block;
    text-transform: uppercase;
    color: rgba(0,0,0,0.5);
    font-size: 0.8em;
    text-align: right;
}

.map {
    min-height: 250px;
    margin: 10px 0;
}

/* Text styles */

.editable {
    cursor: pointer;
}

.editable:hover {
    opacity: 0.7;
}

.center-upper {
    text-align: center;
    text-transform: uppercase;
    color: gray;
    font-size: 11px;
}

/* Major Layout */

#container {

}

header.topBar {
    display: block;
    text-shadow: none;
    margin-top: 15px;
}

.vpad {
    margin: 10px 0;
}

.app-content {
    background: white;
}

.siteHeader {
    text-align: center;
    margin-bottom: 15px;
}

.userSection {
    text-align: right;
}

.siteHeader .siteTitle {
    color: gray;
    text-align: left;
    text-transform: uppercase;
    font-size: 1.2em;
    margin: 0 0 3px 0;
    text-shadow: none;
}

.siteHeader a {
    text-decoration: none;
}

.siteHeader a:hover {
    color: black;
}

.siteHeader h2 {
    font-size: 0.8em;
    color: rgba(0,0,0,0.5);
    font-weight: 0.8em;
    text-shadow: none;
    margin: 0;
}

/* Main */

.loadStatuses {
    direction: block;
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 10px;
    background: rgba(0,0,0,0.2);
}

/* Decision */

.top_proposal {
    margin-top: 15px;
}

.proposal {
    margin: 10px 0px;
    padding: 10px;
}

.settings {
    font-size: 0.7em;
    padding: 10px;
}

.bootbox.modal > .modal-dialog {
  z-index: 1101 !important;
}
