body {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    background: white;
}

#footer {
    color: gray;
    text-align: center;
    padding: 10px;
    min-height: 200px;
    margin-top: 30px;
}

#container {
    min-height: 600px;
}

.avatar {
    display: inline-block;
    width: 300px;
    height: 300px;
    border: 2px solid #AAA;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.avatar-centered {
    display: block;
    margin: 10px auto;
}

.avatar-sm {
    width: 35px;
    height: 35px;
    border: 2px solid white;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
}

.userAvatar {
    margin-top: 2px;
}

.userAvatar .handle {
    display: block;
    text-transform: uppercase;
    text-align: right;
    margin-top: 4px;
}

.userAvatar .location {
    display: block;
    text-transform: uppercase;
    color: rgba(0,0,0,0.5);
    font-size: 0.8em;
    text-align: right;
}

.feedMessage {
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.0);
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius: 3px;
}

.feedMessage a, .feedMessage a:hover, .feedMessage a:visited {
    text-decoration: none;
}

.feedMessage h2, .feedMessage a > h2 {
    color: gray;
    transition: 1s all;
    text-decoration: none;
}

.feedMessage a:hover > h2 {
    color: #0689ff;
    text-decoration: none;
}


.feed .feedMessage:hover {
    border: 1px solid #EFEFEF;
}

.feedMessage .details, .transcription .details {
    font-size: 0.75em;
    color: rgba(0,0,0,0.7);
}

.feedMessage .details > span, .transcription .details > span {
    margin-right: 8px;
}

.transcription {
    background: white;
    border: 1px solid #DDD;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 4px;
}

.transcription .text {
    font-family: monospace;
}

.map {
    min-height: 250px;
    margin: 10px 0;
}


.feed-cta {
    z-index: 100;
    position: fixed;
    right: 0px;
    bottom: 30px;
    width: 300px;
    background: white;
    padding: 12px;
    border-top: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

/* Major Layout */

#container {

}

header.topBar {
    display: block;
    text-shadow: none;
    margin-top: 15px;
}

.vpad {
    margin: 10px 0;
}

.app-content {
    background: white;
}

.siteHeader {
    text-align: center;
    margin-bottom: 15px;
}

.userSection {
    text-align: right;
}

.siteHeader .siteTitle {
    color: gray;
    text-align: left;
    text-transform: uppercase;
    font-size: 1.2em;
    margin: 0 0 3px 0;
    text-shadow: none;
}

.siteHeader a {
    text-decoration: none;
}

.siteHeader a:hover {
    color: black;
}

.siteHeader h2 {
    font-size: 0.8em;
    color: rgba(0,0,0,0.5);
    font-weight: 0.8em;
    text-shadow: none;
    margin: 0;
}

/* Main */

.loadStatuses {
    direction: block;
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 10px;
    background: rgba(0,0,0,0.2);
}

/* Splash */

#splash {
}

/* Decision */

.proposal {
    margin: 10px 0px;
    padding: 10px;
}

.settings {
    font-size: 0.7em;
    padding: 10px;
}

.bootbox.modal > .modal-dialog {
  z-index: 1101 !important;
}
